.App{
  position: relative;
  height: 100%;
}
.App-body{
   background-color:#007bff;
   color:white;
}
.navbar_contacts {
  float:left;
  width:100%;
  background-color:#343a40;

}
.banner{
  text-align:center;
  padding-top:40px;
}
.modal-container{
  text-align: center;
}
.modal-button{
  position: relative;
}
.pills{
  text-align: center;
  margin: auto;
}
.pill-button{
  background-color:white;
  color:#343a40;
  margin-top: 0.5rem;
}
.pill-button:hover{
  cursor:pointer;
}
.pill-button_text{
  padding: 5px 10px;
}
.resume-body{
  height: auto;
  text-align:center;
  color:white;
  background-color:#343a40;
}
.section-container{
  width:100vw;
  height:auto;
  position:relative;
}
.section{
  width: 100%;

}
.section-header{
  padding:0.38rem 0;
  font-family: cursive;
  font-size: 1.68rem;
  font-weight: lighter;
  color: #343a40;
  text-align: center;
  width:100%;
}
.section-body{
   background-color:#343a40;
   padding: 0;
}

.skill-color-icon_container{
   text-align: center;
   width:65px;
   color:white;
   font-size:80%;
   float: left;
   margin: auto;
}
.skill-color-icon{
  background-color:white;
  border-radius:20%;
  padding:5px;
  height:55px;
  width:55px;
}
.App-footer{
  height: auto;
}
