.App-body{
   background-color:#007bff;
   color:white;
   width:100%;
}
.banner{
  text-align:center;
  padding-top:40px;
}
.modal-container{
  text-align: center;
  padding-left: 50%
}
.modal-button{
  position: relative;
  left: -100%;
}

.pill-button{
  background-color:white;
  color:#343a40;
  margin: 0 38px;
}
.pill-button:hover{
  cursor:pointer;
}
.pill-button_text{
  padding: 5px 10px;
}
.section-header{
  font-family: cursive;
  font-size: 1.68rem;
  font-weight: lighter;
  color: #343a40;
}
